[Desktop Entry]
Type=Application
Version=1.0beta1
Name=aKu
Name[it]=aKu
GenericName=Archiver GUI Utility
Exec=aku %U
Comment=aKu - The RAR/ZIP/TAR GUI application for KDE
Icon=aku
MimeType=application/x-rar;
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;
InitialPreference=3
