<?xml version="1.0" encoding="UTF-8"?>
<gui name="aku" version="1">
  <ToolBar name="mainToolBar">
   <text>Main Toolbar</text>
   <Action name="extract" />
   <Action name="add_dir" />
   <Action name="add_file" />
   <Action name="delete" />
   <Separator />
   <Action name="preview" />
   <Action name="info" />
   </ToolBar>
  <MenuBar>
    <Menu name="file" >
    <Action name="file_new" />
    <Separator/>
    <Action name="file_open" />
    <Action name="file_open_recent" />
    </Menu>
   <Menu name="commands" ><text>Commands</text>
      <Action name="add_dir" />
      <Action name="add_file" />
      <Separator/>
      <Action name="lock" />
      <Action name="add_comment" />
      <Action name="encrypt_archive" />
   </Menu>
   <Menu name="tools" >
      <Action name="info" />
      <Action name="find" />
      <Action name="comment" />
      <Action name="lasttip" />
   </Menu>
  </MenuBar>
</gui>
